body {
    color: #333;
    font-family: 'Sans Serif';
}

.key {
    display: inline-block;
    padding: 8px 34px;
    margin-right: 20px;
    border-radius: 2px;
    border: 1px solid #333;
    box-shadow: 0 0 0 0 #333;
    transition: all 0.07s;
}

.key kbd {
    display: block;
    font-size: 34px;
    text-align: center;
}

.key .sound {
    display: block;
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
}

.key.playing {
    transform: scale(1.1);
    box-shadow: 0 0 15px -4px #333;
}